// $color: pink;

// #main > h1 {
//     border: 4px solid salmon;
//     padding: 20px;
// }

#main-canvas {
//    position: absolute;
    // padding-left: 0;
  
    padding-right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 150;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 800px;
    height: fit-content;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    // margin: auto;
    // height: 400px;
    // border: 10px solid #3E872B;
    border: 10px solid #6ab3bc;
  
}

#game-title{
    font-family: 'Chakra Petch', sans-serif;
    color: #3E872B;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    font-size: 90px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
#game-title span{
    // background-image: url("https://cdn.discordapp.com/attachments/1129102326335017013/1129109756972380262/image.png"); 
    // background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    
}

body{
    background-image: url("../src/images/office.jpg");
    // background-image: url("../images/gceE94rcd.png");
    background-color: salmon;
//   height: 1200px;
//   width: 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}   

#linkedin-logo{
    position: absolute;
    top: 130px;
    left: 1130px;
    height: 30px;
    width: 30px;
}

#github-logo{
    position: absolute;
    top: 130px;
    left: 1090px;
    height: 30px;
    width: 30px;

}

#pause{
    position: absolute;
    top: 130px;
    left: 970px;
    height: 30px;
    width: 30px;
}
#audio{
    position: absolute;
    top: 130px;
    left: 1010px;
    height: 30px;
    width: 30px;
}
#restart-btn{
    position: absolute;
    top: 130px;
    left: 930px;
    height: 30px;
    width: 30px;
}


#home{
    position: absolute;
    top: 130px;
    left: 1050px;
    height: 30px;
    width: 30px;
}
// @font-face {
//     font-family: 'myFirstFont';
//     src: url(../font/ARCADE.TTF);
//   }


#mainpage-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.70;
    display: block;
    
}

#mainpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 550px;
    width: 800px;
    border: 30px solid #372A8C;
    border-radius: 20px;
    box-shadow: 0 0 150px rgb(65, 48, 126);
    display: block;
    background-color: #88DFF2;

    // text-align: center;
    // justify-content: center;  
}

#mainh1{
    font-family: 'Chakra Petch', sans-serif;
    color: #D92365;
    font-size: 40px;
    text-align: center;
    text-shadow:0 0 5px #A62679;
}
#howPlay{
    justify-content: start;
    color: #88DFF2;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 19px;
    
}
#right-arrow{
   margin-top: auto;

}
#game-name{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75px;
    width: 600px;
    border: 3px solid #372A8C;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(65, 48, 126);
    background-color: #F2D544;
    display: flex;
    justify-content: center;
    align-items: center;
}

#howToPlay{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 60%;
    left: 62%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 400px;
    border: 5px dotted #F2D544;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(65, 48, 126);
     background-color: #D92365;
}

#howToPlayh1{
    font-family: 'Chakra Petch', sans-serif;
    color: #88DFF2;
    text-align: center;
    text-shadow:0 0 5px #F2D544;
    margin: 0px;

}
#buttons{
    height: 35px;
    width: 249px;
    border: 4px inset #A62679;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(65, 48, 126);
    text-align: center;
    background-color: #F2D544;
    display: flex;
    justify-content: center;
    margin: 10px;

}
#play-btn{
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    background-color: rgb(65, 48, 126); /* Green background */
    border: 2px dotted #88DFF2;; /* Remove border */
    color: white; /* White text */
    padding: 6px 50px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it a block element */
    font-size: 16px; /* Font size */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to hand on hover */
    transition: background-color 0.3s; /* Add transition effect */
    font-family: 'Chakra Petch', sans-serif;

}

#play-btn:hover {
    background-color: #A62679; /* Darker green on hover */
  }

#explanation{
    position: absolute;
    top: 60%;
    left: 23%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 180px;
    border: 4px dotted #F2D544;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(65, 48, 126);

    background-color: #D92365
}

#game-explanation{
    font-family: 'Chakra Petch', sans-serif;
    color: #88DFF2;
    text-shadow:0 0 4px #F2D544;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    display: flex;
    padding: 8px;
}



#game-over-screen {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #game-over-text {
    font-size: 100px;
    margin-bottom: 20px;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(221, 44, 44);
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
  
  
  #play-again-button {
    font-size: 20px;
    border-radius: 6px;
    background-color: green; 
    border: 3px dotted white; 
    color: white; 
    padding: 6px 50px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  }
  
  #play-again-button:hover {
    background-color: rgba(0, 128, 0, 0.575); 
  }

  #game-win-screen {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #game-win-text {
    font-size: 100px;
    margin-bottom: 20px;
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(221, 44, 44);
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
  
  
  #play-again-button-win {
    font-size: 20px;
    border-radius: 6px;
    background-color: green; 
    border: 3px dotted white; 
    color: white; 
    padding: 6px 50px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  }
  
  #play-again-button-win:hover {
    background-color: rgba(0, 128, 0, 0.575); 
  }